body {
    height: 97vh;
    background: blanchedalmond;
}
.container {
    height: 80vh;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 100%;
    border: 2px solid black;
}
.cardblock {
    display: grid;
    padding: 1px;
    grid-template-columns: repeat(5, 1fr);
    gap: 1px;
    border: 2px solid cornflowerblue;
    justify-items: center;
    align-items: center;
}
.character {
    background: chocolate;
}
.cardblock div {
    padding: 20px;
    border: 1px solid black;
}
.cardblock div:hover {
    transform: scale(1.1);
}
#info {
    display: grid;
    padding: 1px;
    grid-template-rows: 50% 50%;
    justify-content: center;
}
#info.div {
    align-content: center;
}